body{
background-color: #ccf79c;
}

button {    
background-color: rgb(215, 218, 243);
<!-- color: rgb(139, 89, 102); -->
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;

}

button:hover{
 background-color: rgb(145, 10, 10);
 color: rgb(255, 255, 255);

}